/* HomePage Styles */

.homepage {
  font-family: "Poppins", sans-serif;
  background-color: #050504; /* Set the background color to black */
  color: white; /* Set text color to white */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo Section */
.logo-section {
  margin-top: 30px; /* Add some space at the top */
  text-align: center;
}

.logo-image {
  width: 70%; /* Adjust the width as per your preference */
  max-width: 1000px; /* Ensure the logo doesn't stretch too much */
  height: auto;
}

/* Navigation Bar */
.navbar {
  margin-top: 20px;
  width: 100%;
  background-color: #050504; /* Dark gray background for navbar */
  padding: 15px 0;
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar ul li a:hover {
  color: #ff6347; /* Tomato color for hover */
}
